<section class="section py-lg-10 py-md-4 py-sm-2" id="about">
    <div class="container">
      <div class="row">
          <div class="abouts d-lg-flex d-md-flex">
            <div class="titles my-3 position-relative col-lg-4 col-sm-12 col-md-5" style="background-image: url(img/img1.jpg)">
              <div class="headline position-absolute text-center">
                <svg width="50px" height="54px" class="">
                  <use xlink:href="#aboutus"></use>
                </svg>
                <h2 class="text-white text-uppercase text-nowrap mt-4">
                  About Us
                </h2>
              </div>
            </div>
            <div class="abouts__info offset-lg-1 offset-md-1  text-darkred d-lg-flex d-md-flex flex-column justify-content-lg-around justify-content-md-around">
              <div class="abouts__row">
                <p class="abouts__text">
                Nullam quis risus eget urna <b>mollis ornare</b> vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                </p>
                <p class="abouts__text">
                <b>Morbi leo risus</b>, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet <i>fermentum</i>. Sed posuere consectetur est at lobortis
                </p>
              </div>
              <div class="abouts__btns text-center">
                <a href="#" class="btn font-italic py-3 px-6">Learn More</a>
              </div>
            </div>
          </div>
      </div>
    </div>
</section>