<section class="section bg-brand position-relative py-7 " id="contacts">
  <div class="map position-absolute" id="map"></div>
  <div class="headline headline--map w-100 text-center ">
    <svg  width="42px" height="60px" class="mb-3">
      <use xlink:href="#gps"></use>
    </svg>
    <h2 class="text-uppercase text-white">
      Get in touch
    </h2>
  </div>

  <div class="slides overflow-hidden d-flex flex-column justify-content-end align-items-end">
    <div class="slides__body d-flex">
      <div class="slides__icon bg-brand d-flex justify-content-center align-items-center">
        <svg  width="38px" height="36px" class="icon">
          <use xlink:href="#home"></use>
        </svg>
      </div>
      <div class="slides__item bg-white">
        <span class="d-block text-center">
          Ikan Piranha Atas 220C <br>
          Malang - East Java <br>
          Indonesia
        </span>
      </div>
    </div>

    <div class="slides__body d-flex">
      <div class="slides__icon bg-brand d-flex justify-content-center align-items-center">
        <svg  width="20px" height="34px" class="icon">
          <use xlink:href="#phone"></use>
        </svg>
      </div>
      <div class="slides__item bg-white d-flex justify-content-center align-items-center">
        <span class="d-block ">+6281235966914</span>
      </div>
    </div>
  </div>

  <form class="form offset-lg-2 col-lg-6" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="rounded form-control font-italic" id="inputEmail4" placeholder="Your Name *" required>
      </div>
      <div class="form-group col-md-6">
        <input type="email" class="rounded form-control font-italic" id="inputPassword4" placeholder="Your Email *" required>
      </div>
  
      <div class="form-group col-md-12">
        <textarea class="font-italic rounded form-control" placeholder="Your Message *" required></textarea>
      </div>
    </div>
  
    <div class="form-group text-center">
      <button type="submit" class="form__btn bg-brand text-white text-uppercase font-weight-bold rounded mt-7 py-3 px-8 text-nowrap">Send message</button>
    </div>
  </form>
</section>