<section class="section pt-7 pb-9" id="ourteam">
  <div class="container">
      <div class="headline w-100 text-center">
        <svg  width="60px" height="60px" class="mb-5">
          <use xlink:href="#team"></use>
        </svg>
        <h2 class="text-uppercase font-weight-bold text-nowrap text-darkred">meet Our Team</h2>
      </div>

      <div class="profile-slider w-100 d-flex">
        <div class="profile bg-white position-relative d-flex flex-column justify-content-between text-center pt-10">
          <img src="img/img3.jpg" alt="" class="profile__img img-fluid position-absolute rounded-circle">
          <div class="profile__body mt-7">
            <h3 class="profile__user text-uppercase font-weight-bold text-brand">Miguel Obrien</h3>
            <span class="lead font-italic text-darkred">CEO & Founder</span>
          </div>
          <div class="profile__foot bg-brand d-flex justify-content-center align-items-center">
            <div class="profile__socials">
                <a href="#" class="profile__link text-decoration-none pr-2">
                  <svg width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#linkedin"></use>
                  </svg>
                </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                    <use xlink:href="#google"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none ">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
        <div class="profile bg-white position-relative d-flex flex-column justify-content-between text-center pt-10">
          <img src="img/img4.jpg" alt="" class="profile__img img-fluid position-absolute rounded-circle">
          <div class="profile__body mt-7">
            <h3 class="profile__user text-uppercase font-weight-bold text-brand">Jackie Carroll</h3>
            <span class="lead font-italic text-darkred">Art Director</span>
          </div>
          <div class="profile__foot bg-brand d-flex justify-content-center align-items-center">
            <div class="profile__socials">
                <a href="#" class="profile__link text-decoration-none pr-2">
                  <svg width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#linkedin"></use>
                  </svg>
                </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                    <use xlink:href="#google"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none ">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
        <div class="profile bg-white position-relative d-flex flex-column justify-content-between text-center pt-10">
          <img src="img/img5.jpg" alt="" class="profile__img img-fluid position-absolute rounded-circle">
          <div class="profile__body mt-7">
            <h3 class="profile__user text-uppercase font-weight-bold text-brand">Ida Morrison</h3>
            <span class="lead font-italic text-darkred">Designer</span>
          </div>
          <div class="profile__foot bg-brand d-flex justify-content-center align-items-center">
            <div class="profile__socials">
                <a href="#" class="profile__link text-decoration-none pr-2">
                  <svg width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#linkedin"></use>
                  </svg>
                </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                    <use xlink:href="#google"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none ">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
        <div class="profile bg-white position-relative d-flex flex-column justify-content-between text-center pt-10">
          <img src="img/img3.jpg" alt="" class="profile__img img-fluid position-absolute rounded-circle z-index-1">
          <div class="profile__body mt-7">
            <h3 class="profile__user text-uppercase font-weight-bold text-brand">Miguel Obrien</h3>
            <span class="lead font-italic text-darkred">CEO & Founder</span>
          </div>
          <div class="profile__foot bg-brand d-flex justify-content-center align-items-center">
            <div class="profile__socials">
                <a href="#" class="profile__link text-decoration-none pr-2">
                  <svg width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#linkedin"></use>
                  </svg>
                </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                    <use xlink:href="#google"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none ">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
        <div class="profile bg-white position-relative d-flex flex-column justify-content-between text-center pt-10">
          <img src="img/img4.jpg" alt="" class="profile__img img-fluid position-absolute rounded-circle">
          <div class="profile__body mt-7">
            <h3 class="profile__user text-uppercase font-weight-bold text-brand">Jackie Carroll</h3>
            <span class="lead font-italic text-darkred">Art Director</span>
          </div>
          <div class="profile__foot bg-brand d-flex justify-content-center align-items-center">
            <div class="profile__socials">
                <a href="#" class="profile__link text-decoration-none pr-2">
                  <svg width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#linkedin"></use>
                  </svg>
                </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                    <use xlink:href="#google"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none ">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
        <div class="profile bg-white position-relative d-flex flex-column justify-content-between text-center pt-10">
          <img src="img/img5.jpg" alt="" class="profile__img img-fluid position-absolute rounded-circle">
          <div class="profile__body mt-7">
            <h3 class="profile__user text-uppercase font-weight-bold text-brand">Ida Morrison</h3>
            <span class="lead font-italic text-darkred">Designer</span>
          </div>
          <div class="profile__foot bg-brand d-flex justify-content-center align-items-center">
            <div class="profile__socials">
                <a href="#" class="profile__link text-decoration-none pr-2">
                  <svg width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#linkedin"></use>
                  </svg>
                </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                    <use xlink:href="#google"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none pr-2">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a href="#" class="profile__link text-decoration-none ">
                    <svg  width="32px" height="32px" class="profile__icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </div>
            </div>
        </div>
        


      </div>
    </div>
</section>