<section class="section" id="services">
  <div class="container">
    <div class="row">
      <div class="services no-gutters">
        <div class="services__items d-lg-flex">
          <div style="background-image: url(img/img2.jpg)" class="services__headline py-9 order-1 cover col-lg-4 text-center d-flex flex-column justify-content-between align-items-center text-white">
            <div class="h-50">
                <svg width="62px" height="60px" class="">
                 <use xlink:href="#paper"></use>
               </svg>
               <h2 class="text-uppercase py-5">our services</h2>
            </div>
            <div class="headline__quote h-50">
                <i>“Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”</i> <br>
                <b>- Borat -</b>
            </div>
          </div>
          <div class="services__col">
            <div class="services__item pt-9 pb-10 bg-gray350 text-darkred text-center d-flex flex-column justify-content-center align-items-center">
                <svg width="47px" height="61px" class="mb-5">
                  <use xlink:href="#design"></use>
                </svg>
                <h3 class="services__title font-weight-bold mb-4">
                  GRAPHIC DESIGN
                </h3>
                <span class=" w-50 services__subtitle font-italic">Cras mattis consectetur purus sit amet fermentum</span>
            </div>
            <div class="services__item pt-9 pb-10 text-darkred text-center d-flex flex-column justify-content-center align-items-center">
                <svg width="58px" height="59px" class="mb-5">
                  <use xlink:href="#ceo"></use>
                </svg>
                <h3 class="services__title font-weight-bold mb-4">
                  SEO & MARKETING
                </h3>
                <span class=" w-50 services__subtitle font-italic">Cras mattis consectetur purus sit amet fermentum</span>
            </div>
          </div>
          <div class="services__col d-flex flex-column">
            <div class="services__item pt-9 pb-10 text-darkred text-center d-flex flex-column justify-content-center align-items-center order-2 order-md-2">
                <svg width="58px" height="59px" class="mb-5">
                  <use xlink:href="#webdev"></use>
                </svg>
                <h3 class="services__title font-weight-bold mb-4">
                  WEB DEVELOPMENT
                </h3>
                <span class=" w-50 services__subtitle font-italic">Cras mattis consectetur purus sit amet fermentum</span>
            </div>
             <div class="services__item pt-9 pb-10 text-darkred text-center bg-gray350  d-flex flex-column justify-content-center align-items-center order-1 order-md-1 order-lg-2 order-md-1">
                <svg width="47px" height="61px" class="mb-5">
                  <use xlink:href="#mobile"></use>
                </svg>
                <h3 class="services__title font-weight-bold mb-4">
                  MOBILE DEVELOPMENT
                </h3>
                <span class=" w-50 services__subtitle font-italic">Cras mattis consectetur purus sit amet fermentum</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>