<section style="background-image: url(img/bg-2.jpg)" class="section cover position-relative h-100vh py-6" id="works">
  <div class="container">
    <div class="row">
        <div class="headline w-100 text-center">
          <img class="icon mb-5" src="img/Icon-Works.png" alt="">
          <h2 class="text-uppercase font-weight-bold text-nowrap text-white">Recent works</h2>
        </div>

        <div class="work-slider w-100 text-center mt-5 offset-lg-2 col-lg-8">
          <img src="img/slide-img-1.jpg" alt="" class="slide">
          <img src="img/slide-img-2.jpg" alt="" class="slide">
          <img src="img/slide-img-3.jpg" alt="" class="slide">
          <img src="img/slide-img-4.jpg" alt="" class="slide">
          <img src="img/slide-img-5.jpg" alt="" class="slide">
        </div>

        <div class="btn-row w-100 text-center mt-6">
          <a href="#" class="btn border-white text-white py-3 px-6">View Gallery</a>
        </div>
    </div>
  </div>
</section>